/node_modules
node_modules/
/.next
.next/
.env
.env.*
!.env.example
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
components/.DS_Store
sanity/.DS_Store
.DS_Store
components/.DS_Store
tsconfig.tsbuildinfo
.claude
